{% extends 'head.html' %}
{% block body %}
<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Resumo</h2>
      </div>

      <div class="row">
        <div class="col-lg-6">

          <h3 class="resume-title">Educação</h3>
          <div class="resume-item">
            <h4>Bacharelado em Ciência da Computação</h4>
            <h5>2021 - 2025</h5>
            <p><em>Centro Universitário Unifacvest, Santiago, RS</em></p>
            <h3>Cursos adicionais:</h3>
            <p>Política macroeconômica e inclusão digital</p>
          </div>
          <div class="resume-item">
            <h4>Python</h4>
            <h5>15 de Junho de 2020</h5>
            <p><em>Let's Code</em></p>
            <p>Curso de desenvolvimento com a linguagem Python desde o básico até orientação a objetos.</p>
          </div>
          <div class="resume-item">
            <h4>Delphi</h4>
            <h5>29 de Dezembro de 2021</h5>
            <p><em>Udemy</em></p>
            <p>Controle financeiro, PDV fiscal e Sistema de estoque.</p>
          </div>
        </div>

        <div class="col-lg-6">
          <h3 class="resume-title">Experiência profissional</h3>
          <div class="resume-item">
            <h4>Desenvolvedor Python e Delphi</h4>
            <h5>06/2021 - 07/2022</h5>
            <p><em>S8 Sistemas de gestão, Santiago, RS </em></p>
            <ul>
              <li>Automatizar a conversão de banco de dados</li>
              <li>Desenvolvimento de sistemas para gestão</li>
              <li>Liderar o começo do desenvolvimento do sistema PDV fiscal da empresa</li>
              <li>Criar soluções para que integrassem com os sistemas que a empresa revendia</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Desenvolvedor Deplhi</h4>
            <h5>09/2022 - Presente</h5>
            <p><em>Consisa Sistemas, Francisco Beltrão, PR</em></p>
            <ul>
              <li>Desenvolver e dar manutenção no sistema fiscal</li>
              <li>Criar relatórios detalhando as alterações realizadas</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section>
{% endblock body %}